{% extends 'base.html' %}
{% block title %}Parolni o‘zgartirish{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 500px;">
    <div class="card shadow-lg border-0 rounded-3">
        <div class="card-body p-4">
            <h3 class="text-center mb-4">🔑 Parolni o‘zgartirish</h3>

            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger small">{{ field.errors|striptags }}</div>
                        {% endif %}

                        {# Faqat tasdiqlash (new_password2) fieldida ko‘rsatamiz #}
                        {% if field.name == "new_password2" %}
                            <div class="mt-2">
                                <a href="{% url 'accounts:forgot_password' %}" class="text-primary small">
                                    Parolingizni unutdingizmi?
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary w-100">Parolni yangilash</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
