{% extends "base.html" %}
{% block title %}Parolni tiklash{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow p-4" style="max-width: 450px; width: 100%; border-radius: 15px;">
    <h3 class="text-center mb-4">🔑 Yangi Parol</h3>

    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="password" class="form-label">Yangi parol</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Yangi parolingizni kiriting" required>
      </div>

      <div class="mb-3">
        <label for="confirm_password" class="form-label">Parolni tasdiqlash</label>
        <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Parolni qayta kiriting" required>
      </div>

      <button type="submit" class="btn btn-primary w-100">Parolni o‘zgartirish</button>
    </form>
  </div>
</div>
{% endblock %}

